.add-test-container {
  position: relative;
  padding: 0 60px;
}

.add-button-section {
  float: right;
  padding-right: 200px;
  margin: 100px 0 50px 0;
}

.view-tests-container {
  margin-top: 300px;
  padding-right: 80px;
}