.add-test-container {
  position: relative;
  padding: 0 60px;
}

.add-button-section {
  padding-right: 200px;
  margin: 100px 0 50px 0;
  overflow: auto;
}

.view-tests-container {
  padding-right: 80px;
}