body {
  margin: 0;
}

.adminsidebar {
  width: 150px;
  background-color: #3598DB;
}

.sidebar-container {
  padding-top: 13px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-logo {
  width: 101px;
  height: 101px;
  background-image: url('../../../../assets/images/admin/logo1.png');
}

.sidebar-menu {
  margin-top: 31px;
  width: 100%;
}

.sidebar-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.sidebar-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 30px 0;
  cursor: pointer;
}

.sidebar-menu-item:hover {
  background-color: #B8D4E8;
}
.sidebar-menu-icon {
  width: 32.54px;
  height: 40.3px;
  background-color: aqua;
}

.sidebar-menu-text {
  font-size: 14.95px;
}

