.video-link-section {
  margin-top: 40px;
  width: 800px;
  height: 100px;
  padding: 18px 10px 16px;
  box-shadow: #2C3F580D -4px 10px 40px 0px;
  position: relative;
}

.video-link-input {
  width: -webkit-fill-available;
  background-color: #F3F3F3;
  border: none;
  height: 60px;
  font-size: 19px;
  color: #C4BEBE;
  margin-top: 20px;
  padding-left: 20px;
}

.video-link-input:focus {
  outline: none;
}

