.video-link-section {
  margin-top: 40px;
  width: 800px;
  height: 192px;
  padding: 18px 10px 16px;
  box-shadow: #2C3F580D -4px 10px 40px 0px;
  position: relative;
}

.video-link-input {
  width: 100%;
  background-color: #F3F3F3;
  border: none;
  height: 60px;
  font-size: 19px;
  color: #C4BEBE;
  padding-left: 20px;
}

.video-link-input:focus {
  outline: none;
}

.video-save-button {
  position: absolute;
  margin-top: 120px;
  float: right;
  right: 24px;
  background-color: #3598DB;
  padding: 18px 24px;
  color: white;
  cursor: pointer;
}
