.test-item-row {
  width: 100%;
  height: 80px;
  background-color: #FBFBFB;
  box-shadow: #00000033;
  padding: 0 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.test-number-section {
  width: 52px;
  height: 52px;
  background-color: #3598DB;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.test-number-text {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.test-difficulty-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.test-difficulty-star-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}

.test-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.test-button {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  background-color: #DB3546;
}

.edit {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  background-color: #1F74E3;
}