
.addsection-title {
  width: 100%;
  padding: 30px 0;
  font-size: 30px;
  color: #C4BEBE;
  text-align: center;
  background-color: #F2F5FA;
  border: none;
}

.addsection-title:focus {
  outline: none;
}