.addsection-image-section {
  margin-top: 45px;
  margin-bottom: 60px;
}

.upload-image {
  margin-left: -210px;
  padding-bottom: 50px;
  cursor: pointer;
}

.upload-text {
  margin-top: -40px;
  margin-left: 200px;
}

a {
  color: #3A63DE;
  cursor: pointer;
}