.header {
  width: 100%;
}

.header-container {
  background-color: #48b1f7;
  padding-right: 74px;
  padding-top: 19px;
  height: 250px;
}

.header-button {
  float: right;
  border-radius: 14px;
  background-color: #26FF4A;
  color: white;
  font-weight: 500;
  font-size: 15px;
  width: 118px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top {
  padding-top: 156px;
  align-items: center;
}

.header-main {
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  height: 150px;
  margin: auto;
  position: relative;
}

.header-rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 1px;
  height: 94px;
  transform: translate(-50%, -50%);
  background: #E1E3E5;
}

.header-logo-title {
  display: flex;
  flex-direction: row;
}

.header-logo-container {
  margin: -30px 30px;
}

.header-logo-image {
  width: 162px;
  height: 162px;
  background-color: #b6dbf3;
}

.header-title {
  padding-top: 17px;
  font-size: 35px;
}

.header-title-main {
  font-family: 'Poppins' 'Medium';
  font-weight: 600;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.header-title-sub {
  font-family: 'Segoe  UI';
  color: #707070;
  opacity: 1;
}